@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gradient: linear-gradient(45deg, #9de8ee, #9de8ee, #fa7c0b, #9f8ced);
  --black: #000000;
  --dark-gray: #110f0f;
  --yellow: #ffa800;
  --blue: #728095;
  --text: #e7e7e7;
  --border: #a1aebf;

  --transition: all 0.375s ease;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 4px;
  transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

/* Selection Styling */
::selection {
  background: var(--yellow);
  color: var(--black);
  -webkit-text-fill-color: var(--black);
}

::-moz-selection {
  background: var(--yellow);
  color: var(--black);
  -webkit-text-fill-color: var(--black);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--white);
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

p {
  line-height: 1.5;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  color: var(--text);
  font-weight: 100;
  letter-spacing: 2%;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.btn-primary {
  position: relative;
  padding: 10px 20px;
  background: none;
  color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 30px;
  transition: var(--transition);
  overflow: hidden;
}
.btn-primary::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--yellow);
  top: 100%;
  left: 0;
  transition: var(--transition);
  z-index: -1;
}
.btn-primary:hover {
  background: var(--yellow);
  color: var(--black);
}
.btn-primary:hover::before {
  top: 0;
}
.btn-secondary {
  padding: 10px 20px;
  position: relative;
  background: var(--yellow);
  color: var(--black);
  border: 1px solid var(--yellow);
  border-radius: 30px;
  transition: var(--transition);
  overflow: hidden;
  font-weight: 600;
}
.btn-secondary:hover {
  background: none;
  color: var(--yellow);
}

/* Design Styles Start */

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(var(--black), rgba(0, 0, 0, 0.3));
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), transparent);
  pointer-events: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar .nav__logo img {
  max-width: 100%;
}
.navbar .nav__menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar .nav__menu .nav__link {
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition);
}
.navbar .nav__menu .nav__link:first-child {
  display: flex;
  align-items: center;
}
.navbar .nav__menu .nav__link:first-child i {
  font-size: 1.5rem;
}
.navbar .nav__menu .nav__link:hover {
  color: var(--yellow);
}
.navbar .nav__menu-icon {
  display: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 100;
  padding: 6px;
}

.navbar .nav__menu-icon .line {
  display: block;
  position: absolute;
  height: 2px;
  background: var(--white);
  border-radius: 6px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  right: 6px;
}

.navbar .nav__menu-icon .line-1 {
  top: 12px;
  width: 20px;
}

.navbar .nav__menu-icon .line-2 {
  bottom: 12px;
  width: 12px;
}

/* Menu Icon Animation */
.navbar .nav__menu-icon.active .line-1 {
  transform: translateY(4px) rotate(45deg);
  width: 20px;
}

.navbar .nav__menu-icon.active .line-2 {
  transform: translateY(-4px) rotate(-45deg);
  width: 20px;
}

/* Homepage */
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.main__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.main__title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.875;
  margin: 0 auto;
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.main__title span {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__text {
  max-width: 523px;
  font-weight: 100;
  color: var(--text);
  margin-bottom: 1.5rem;
}
.main__input-group {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main__input-group input {
  padding: 12px 70px 12px 24px;
  border: 1.5px solid var(--white);
  border-radius: 30px;
  outline: none;
  background: none;
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
}
.main__input-group input::placeholder {
  color: var(--white);
}
.main__btn {
  padding: 14px 24px;
}

/* Companies Section */
.companies {
  background: var(--black);
}
.companies .container {
  padding: 5rem 1rem;
}
.companies .container .company__title {
  font-size: 40px;
  max-width: 634px;
  line-height: 1.2;
}
.companies__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5rem;
  gap: 2rem;
}
.companies__top .left,
.companies__top .right {
  flex: 1;
}
.companies__top .company__top-text {
  max-width: 634px;
  color: var(--blue);
  font-weight: 100;
}
.slider {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider.slider-1 {
  white-space: nowrap;
  display: inline-block;
}
.slider .slider__item {
  padding: 9px 16px;
  border-radius: 10px;
  border: 1px solid var(--white);
  display: inline-block;
  margin: 0 10px;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 40px));
  }
}

/* Service Section */
.services {
  background: var(--dark-gray);
  overflow: hidden;
}
.services .container {
  padding: 5rem 1rem;
  overflow: hidden;
}
.services .services__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}
.services .services__text {
  color: var(--text);
  font-weight: 100;
  letter-spacing: 2%;
  max-width: 634px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
.services__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 40px;
  place-items: center;
  padding: 0 111px;
  overflow: hidden;
}
.services__wrapper .wrapper__card {
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 4px;
}
.services__wrapper .wrapper__card img {
  padding-bottom: 12px;
}
.services__wrapper .wrapper__card h2 {
  padding-bottom: 12px;
}
.services__wrapper .wrapper__card p {
  padding-bottom: 12px;
}

/* Why Choose Us Section */
.why-choose-us {
  background: var(--black);
}
.why-choose-us .container {
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-us .choose__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}
.why-choose-us .choose__wrapper .left img {
  min-width: 700px;
}
.why-choose-us .choose__wrapper .right h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.why-choose-us .choose__wrapper .right p {
  margin-bottom: 32px;
  font-size: 16px;
}
.why-choose-us .choose__wrapper .left,
.why-choose-us .choose__wrapper .right {
  max-width: 50%;
}

/* Works Section */
.works {
  background: var(--dark-gray);
}
.works .container {
  padding: 5rem 1rem;
}
.works .container .works__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.works .works__wrapper .wrapper__left {
  max-width: 412px;
}
.works .works__wrapper .wrapper__left h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.works .works__wrapper .wrapper__left .works__text {
  margin-bottom: 24px;
}
.works .works__wrapper .wrapper__right .right__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.works .works__wrapper .wrapper__right .right__grid .card-xl {
  padding: 24px;
  border: 1px solid var(--border);
  border-radius: 4px;
  grid-row: span 2;
}
.works .works__wrapper .wrapper__right .right__grid .card {
  padding: 24px;
  border: 1px solid var(--border);
  border-radius: 4px;
}
.works .works__wrapper .wrapper__right .right__grid .card-xl img {
  padding-bottom: 24px;
}
.works .works__wrapper .wrapper__right .right__grid .card-xl .card__subtitle {
  background: var(--yellow);
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 12px;
  color: #1a365d;
}
.works .works__wrapper .wrapper__right .right__grid .card-xl .card__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.works .works__wrapper .wrapper__right .right__grid .card-xl .card__link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--blue);
}
.works .works__wrapper .wrapper__right .right__grid .card-xl .card__link svg {
  width: 16px;
  height: 16px;
  fill: var(--blue);
  border-radius: 50%;
  border: 2px solid var(--blue);
  padding: 2px;
}
.works .works__wrapper .wrapper__right .right__grid .card .card__subtitle {
  background: var(--yellow);
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 12px;
  color: #1a365d;
}
.works .works__wrapper .wrapper__right .right__grid .card .card__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.works .works__wrapper .wrapper__right .right__grid .card .card__link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--blue);
}
.works .works__wrapper .wrapper__right .right__grid .card .card__link svg {
  width: 16px;
  height: 16px;
  fill: var(--blue);
  border-radius: 50%;
  border: 2px solid var(--blue);
  padding: 2px;
}

/* Testimonials Section */
.testimonials {
  background: var(--black);
}
.testimonials .container {
  padding: 7rem 1rem;
  position: relative;
}
.testimonials .container span {
  font-size: 40px;
  font-weight: 700;
}
.testimonials .carousel {
  margin: 100px auto 0;
  width: 100%;
}
.testimonials .carousel__navigation {
  position: absolute;
  top: 7rem;
  right: 24px;
  display: flex;
  gap: 12px;
  z-index: 10;
}
.testimonials .carousel__navigation-button {
  background-color: var(--dark-gray);
  border: 1px solid var(--yellow);
  color: var(--yellow);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  transition: var(--transition);
}
.testimonials .carousel__navigation-button:hover {
  background-color: var(--yellow);
  color: var(--black);
}
.testimonials .carousel__slide .card {
  background: #0f0f0f;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid var(--border);
  height: 100%;
}
.testimonials .carousel__slide .card__top {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}
.testimonials .carousel__slide .card__top img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.testimonials .carousel__slide .card__top .card__top__right h1 {
  font-size: 16px;
  margin-bottom: 4px;
}
.testimonials .carousel__slide .card__top .card__top__right span {
  font-size: 14px;
  color: var(--yellow);
}
.testimonials .carousel__slide .card p {
  font-size: 14px;
  line-height: 1.6;
}

/* CTA Section */
.cta {
  width: 100%;
  background: var(--dark-gray);
}
.cta .container {
  padding: 5rem 1rem;
  position: relative;
}
.cta .cta__content {
  width: 100%;
  background: var(--yellow);
  padding: 80px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cta .cta__content h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 16px;
  line-height: 1.2;
}
.cta .cta__content p {
  color: var(--black);
  max-width: 511px;
  text-align: center;
  margin-bottom: 32px;
}
.cta .cta__content .input__group {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cta .cta__content .input__group input {
  outline: none;
  max-width: 320px;
  width: 100%;
  padding: 18px 180px 18px 18px;
  font-family: inherit;
  border-radius: 43px;
  border: 1px solid var(--border);
}
.cta .cta__content .input__group button {
  background: var(--black);
  color: var(--white);
  padding: 18px 36px;
  border: 1px solid var(--black);
}
.cta .cta__content .input__group button:hover {
  background: none;
  color: var(--black);
}

.cta .container .go-to-top__btn {
  margin-top: 1rem;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

/* Responsive Design */

@media screen and (max-width: 1024px) {
  .container {
    padding: 24px;
  }

  .main__title {
    font-size: 5.5rem;
  }

  .services__wrapper {
    padding: 0;
    gap: 24px;
  }

  .why-choose-us .choose__wrapper {
    flex-direction: column;
    gap: 3rem;
  }
  .why-choose-us .choose__wrapper .left img {
    min-width: 100%;
  }
  .why-choose-us .choose__wrapper .right {
    text-align: center;
  }
  .why-choose-us .choose__wrapper .left,
  .why-choose-us .choose__wrapper .right {
    max-width: 100%;
  }
  .works .container .works__wrapper {
    flex-direction: column;
  }
  .works .container .works__wrapper .wrapper__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works .container .works__wrapper .wrapper__left,
  .works .container .works__wrapper .wrapper__right {
    max-width: 100%;
  }
  .works .container .works__wrapper .wrapper__left h1 {
    text-align: center;
  }
  .works .container .works__wrapper .wrapper__left .works__text {
    text-align: center;
  }
  .testimonials .container {
    padding: 5rem 1rem;
  }
  .testimonials .container span {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .navbar .nav__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: min(300px, 80vw);
    background: rgba(17, 15, 15, 0.95);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    flex-direction: column;
    padding: 80px 32px 32px 32px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
    display: flex !important;
  }

  .navbar .nav__menu.show {
    opacity: 1;
    visibility: visible;
  }

  .navbar .nav__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1001;
  }

  .navbar .nav__menu .nav__link {
    font-size: 1.1rem;
  }

  .navbar .nav__menu .btn-primary {
    margin-top: 1.5rem;
  }

  body.menu-open {
    overflow: hidden;
  }

  .why-choose-us .container {
    padding: 3rem 1rem;
  }
  .why-choose-us .choose__wrapper .right h1 {
    font-size: 32px;
  }
  .why-choose-us .choose__wrapper .right p {
    font-size: 14px;
  }
  .works .works__wrapper .wrapper__right .right__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: min-content;
  }
  .works .works__wrapper .wrapper__right .right__grid .card-xl {
    grid-row: span 1;
  }
  .testimonials .container {
    padding: 4rem 1rem;
  }
  .testimonials .container span {
    font-size: 28px;
  }
  .testimonials .carousel {
    margin: 60px auto 0;
  }
  .testimonials .carousel__navigation {
    position: static;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .testimonials .carousel__navigation-button {
    padding: 15px;
  }
  .companies__top {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .main__input-group {
    flex-direction: column;
  }
  .main__input-group .main__btn,
  .main__input-group input {
    width: 100%;
  }
  .why-choose-us .choose__wrapper {
    gap: 2rem;
  }
  .why-choose-us .choose__wrapper .right h1 {
    font-size: 28px;
  }
  .why-choose-us .choose__wrapper .right p {
    font-size: 12px;
  }

  .services {
    background: var(--dark-gray);
    overflow: hidden;
  }

  .services .container {
    padding: 2rem 1rem;
    overflow: hidden;
  }

  .services .services__title {
    font-size: 28px;
  }

  .services__wrapper {
    grid-template-columns: 1fr;
    padding: 0;
    overflow: hidden;
  }

  .services__wrapper .wrapper__card {
    width: 100%;
    max-width: 320px;
    overflow: hidden;
  }
  .testimonials .container {
    padding: 3rem 1rem;
  }
  .testimonials .container span {
    font-size: 24px;
  }
  .testimonials .carousel {
    margin: 50px auto 0;
  }
  .testimonials .carousel__slide .card {
    padding: 16px;
  }
  .testimonials .carousel__slide .card__top {
    gap: 8px;
  }
  .testimonials .carousel__slide .card__top img {
    width: 40px;
    height: 40px;
  }
  .testimonials .carousel__slide .card p {
    font-size: 13px;
  }
  .cta .cta__content .input__group {
    flex-direction: column;
  }
  .cta .container .cta__content p, 
  .cta .container .cta__content h1
  {
    text-align: left;
  }
  .cta .cta__content .input__group input,
  .cta .cta__content .input__group button {
    width: 100%;
    max-width: 100%;
  }
  .cta__content {
    padding: 80px 16px !important;
  }
  .cta__content h1 {
    font-size: 32px;
  }
}

@media (max-width: 532px) {
  .main__title {
    font-size: 4rem;
    margin-top: 11rem;
  }

  .main__text {
    font-size: 0.85rem;
    max-width: 100%;
  }

  .main__input-group {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .main__title {
    font-size: 3.5rem;
    margin-top: 12rem;
  }

  .main__text {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .main__title {
    font-size: 3.5rem;
    margin-top: 12rem;
  }

  .main__text {
    font-size: 0.8rem;
  }
}
